@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: Poppins, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  outline: none;
  border: 1px solid black;
}
button {
  align-self: center;
  margin-top: 0.75rem;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 0.75rem;
  background: none;
  outline: none;
  border: 1px solid black;
  transition: all 0.2s ease;
}

button:hover {
  background: #000;
  color: white;
}
